@import "tailwindcss";

@theme {
  --color-primary: #A664FF;
  --color-accent:  #00C2A8;
  --color-bglight:      #FAF4FF;
  --color-bgdark:      #080808;
  --color-card:    #FFFFFF;
  --color-muted:   #6B7280;
  --color-text:    #0F172A;
  --color-danger:  #EF4444;
  --color-success: #10B981;
  --color-border:  #E6EEF8;
}